.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c0c0c0;
    background-color: rgb(32, 32, 32);
}


.header__logo {
    height: 40px;
    object-fit: contain;
}

.header__icon {
    padding: 15px ;
    border-radius: 30px;
    color: white;
}

.header__icon:hover{
    transition: 1s;
    color: rgb(32, 32, 32);
    /* background-color: rgb(70, 70, 70); */
    /* background-color: rgb(212, 212, 212); */
    background-color: white;
    background-position: center;
    
    align-items: center;
}
